@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Spartan:wght@400;500;700&display=swap");
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../images/bg-pattern-bottom-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  font-family: "Spartan", sans-serif;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "info rate" "opinion opinion";
  padding: 15vh;
  background-image: url(../images/bg-pattern-top-desktop.svg);
  background-repeat: no-repeat;
  background-size: initial;
}
main section:nth-child(1) {
  grid-area: info;
}
main section:nth-child(1) h1 {
  font-size: 3em;
  margin: 0;
  color: #502050;
  padding-right: 25%;
}
main section:nth-child(1) p {
  font-size: 15px;
  padding-right: 25%;
  color: #937b92;
}
main section:nth-child(2) {
  grid-area: rate;
  padding: 5%;
  padding-right: 0;
}
main section:nth-child(2) div:nth-child(2) {
  margin-left: auto;
  margin-right: auto;
}
main section:nth-child(2) div:nth-child(3) {
  margin-left: auto;
}
main section:nth-child(2) div {
  background-color: #f7f2f7;
  border-radius: 10px;
  width: 80%;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  padding-left: 15px;
}
main section:nth-child(2) div .stars {
  display: block;
  width: 35%;
}
main section:nth-child(2) div .stars img {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}
main section:nth-child(2) div p {
  color: #502050;
  font-size: 15px;
  font-weight: 700;
}
main section:nth-child(3) {
  grid-area: opinion;
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-top: 5vh;
}
main section:nth-child(3) .card {
  background-color: #502050;
  border-radius: 15px;
  width: 30%;
  color: #FFFFFF;
  height: 250px;
}
main section:nth-child(3) .card .head-card {
  display: flex;
  width: 100%;
  height: 35%;
  margin-top: 20px;
  margin-bottom: 15px;
}
main section:nth-child(3) .card .head-card div:nth-child(1) {
  width: 30%;
  display: flex;
  justify-content: center;
}
main section:nth-child(3) .card .head-card div:nth-child(1) img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
}
main section:nth-child(3) .card .head-card div:nth-child(2) {
  width: 70%;
}
main section:nth-child(3) .card .head-card div:nth-child(2) h2 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}
main section:nth-child(3) .card .head-card div:nth-child(2) span {
  color: #ee68a4;
  font-size: 15px;
}
main section:nth-child(3) .card blockquote {
  font-size: 12px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
main section:nth-child(3) div:nth-child(2) {
  transform: translateY(20px);
}
main section:nth-child(3) div:nth-child(3) {
  transform: translateY(40px);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (max-width: 1200px) {
  main section:nth-child(2) div {
    width: 85%;
  }
}
@media (max-width: 992px) {
  main {
    grid-template-columns: 100%;
    grid-template-areas: "info" "rate" "opinion";
  }
  main section:nth-child(1) {
    text-align: center;
  }
  main section:nth-child(1) h1 {
    padding: 0;
  }
  main section:nth-child(1) p {
    padding: 0;
  }
  main section:nth-child(2) {
    padding-right: 5%;
  }
  main section:nth-child(2) div {
    width: 85%;
  }
}
@media (max-width: 768px) {
  body {
    background-image: url(../images/bg-pattern-bottom-mobile.svg);
  }

  main {
    background-image: url(../images/bg-pattern-top-mobile.svg);
  }
  main section:nth-child(1) {
    margin-bottom: 25px;
  }
  main section:nth-child(2) {
    padding: 0;
  }
  main section:nth-child(2) div {
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
    height: auto;
  }
  main section:nth-child(2) div div {
    width: 100% !important;
    margin: 0;
    text-align: center;
  }
  main section:nth-child(2) div p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  main section:nth-child(3) {
    flex-wrap: wrap;
  }
  main section:nth-child(3) .card {
    width: 100%;
  }

  footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }
}
@media (max-width: 576px) {
  main {
    padding-left: 5%;
    padding-right: 5%;
  }
  main section:nth-child(1) h1 {
    font-size: 2em;
  }

  .stars img {
    width: 20px !important;
    height: 20px !important;
  }
}

/*# sourceMappingURL=style.css.map */
